<div class="flex flex-col p-2 sm:p-4 border m-2 md:m-4 lg:mx-auto rounded-md bg-white dark:bg-gray-800 border-gray-300 dark:border-gray-500 max-w-3xl">
  <%= form_with(model: @purchase_order, url: path, data: { turbo: false }, class: "p-2") do |po_field| %>
    <div class="flex flex-col justify-center gap-6">
      <div id="serviceJobFields" class="flex flex-col gap-2">
        <p class="font-semibold text-lg mt-1 mb-2">Purchase order details</p>
        <div>
          <%= po_field.label :select_a_service_report, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white"%>
          <%= po_field.select :service_report_id,
            options_for_select(
              @service_job.service_reports.map { |report| [report.service_report_number, report.id] },
              selected:  @purchase_order.service_report_id
              ),
              {},
              required: true,
              class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
          %>
        </div>
        <div>
          <%= po_field.label :description, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
          <%= po_field.text_field :description, required: true, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500", placeholder: "Description" %>
        </div>
        <div>
          <%= po_field.label :price, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
          <%= po_field.text_field :price, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500", placeholder: "Cost" %>
        </div>
        <div>
          <%= po_field.label :vendor, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
          <%= po_field.text_field :vendor, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500", placeholder: "Vendor" %>
        </div>
        <div>
          <%= po_field.label :quantity, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
          <%= po_field.text_field :quantity, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500", placeholder: "Quantity" %>
        </div>
      </div>
      <div class="sm:col-span-2">
        <%= po_field.label :notes, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
        <%= po_field.text_area :notes, class: "block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500", placeholder: "Notes", rows: 4 %>
      </div>
      <div class="sm:col-span-2">
        <%= po_field.label :internal_notes, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
        <%= po_field.text_area :internal_notes, class: "block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500", placeholder: "Notes", rows: 4 %>
      </div>
    </div>
    <div class="w-full">
      <%= po_field.submit class: "text-white mt-6 mx-auto hover:cursor-pointer flex items-center bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800" %>
    </div>
  <% end %>
</div>
