<p>
  <strong>Purchase Order Number:</strong>
  <%= @purchase_order.purchase_order_number %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @purchase_order.quantity %>
</p>

<p>
  <strong>Description:</strong>
  <%= @purchase_order.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @purchase_order.price %>
</p>

<p>
  <strong>Total Price:</strong>
  <%= @purchase_order.total_price %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @purchase_order.notes %>
</p>

<p>
  <strong>Internal Notes:</strong>
  <%= @purchase_order.internal_notes %>
</p>

<p>
  <strong>Service Report ID:</strong>
  <%= @purchase_order.service_report_id %>
</p>
