<<%= @tag %> <%= @id_attribute%> <%= @type_attribute%> <%= @href %> class="<%= @class_composition %>" <%= @data_attributes %>>

  <% unless @leading_visual.empty?  %>
    <i class="<%= @leading_visual_class_attribute_value %>" style="<%= @leading_visual_style_attribute_value %>"></i>
  <% end %>

  <span><%= @text %></span>

  <% unless @trailing_visual.empty? %>
    <i class="<%= @trailing_visual_class_attribute_value %>" style="<%= @trailing_visual_style_attribute_value %>"></i>
  <% end %>

</<%= @tag %>>
