<div class="ml-10 mt-4">
  <<%= @tag %> id="<%= @id %>" <%= @type_composition %> <%= @destination_composition %> class="<%= @class_composition %>" <%= @data_attributes %> >
    <span><%= @text %></span>
  </<%= @tag %>>
</div>

