<div class="bg-primary-600 dark:bg-primary-800 p-2 sm:p-3 shadow-md flex flex-row items-center">
  <h1 class="text-lg sm:text-xl font-medium text-white">Customer Directory</h1>
  <%= link_to "New Customer", new_admin_customer_path, class: "w-32 text-center ml-auto text-gray-50 border-2 p-2 hover:bg-white hover:text-primary-600 border-white rounded-md text-sm font-medium hover:font-strong hover:shadow-md" %>
</div>
<!-- div class="m-2 sm:m-4 border rounded-md p-2 sm:p-4" -->




<div class="m-2 sm:m-4 border rounded-md p-2 sm:p-4 flex flex-wrap justify-between text-sm">
  <div>
    <h1 class="font-semibold">Customer</h1>
    <p><%= @customer.name %></p>
    <p><%= @customer.email %></p>
    <p><%= @customer.phone_number %></p>
  </div>

  <div>
    <h1 class="font-semibold">Address</h1>
    <p><%= @customer.address %></p>
    <p><%= @customer.city %></p>
    <p><%= @customer.state %>, <%= @customer.zip_code %></p>
  </div>

  <% if @customer.point_of_contact%>
    <div>  
      <h1 class="font-semibold">Point of contact</h1>
      <p><%= @customer.point_of_contact.name %></p>
      <p><%= @customer.point_of_contact.phone_number %></p>
      <p><%= @customer.point_of_contact.email %></p>
    </div>
  <% end %>
</div>




<!--div class="m-2 sm:m-4 grid grid-cols-3 border rounded-md p-2 sm:p-4">
  <p><%= @customer.name %></p>
  <p><%= @customer.address %></p>
  <% if @customer.point_of_contact%>
    <p><%= @customer.point_of_contact.email %></p>
  <% end %>

  <p>Region</p>
  <p><%= @customer.city %></p>
  <% if @customer.point_of_contact%>
    <p><%= @customer.point_of_contact.phone_number %></p>
  <% end %>

  <p>Jobs</p>
  <p><%= @customer.state %> (<%= @customer.zip_code %>)</p>
  <% if @customer.point_of_contact%>
    <p><%= @customer.point_of_contact.email %></p>
  <% end %>
</div>





<div class="m-2 sm:m-4 grid grid-cols-3 border rounded-md p-2 sm:p-4">
  <p><%= @customer.name %></p>
  <p><%= @customer.email %></p>
  <p><%= @customer.phone_number %></p>
  <p><%= @customer.address %></p>
  <p><%= @customer.city %></p>
  <p><%= @customer.state %></p>
  <p><%= @customer.zip_code %></p>
  <% if @customer.point_of_contact%>
    <h1>Point of contact</h1>
    <p><%= @customer.point_of_contact.name %></p>
    <p><%= @customer.point_of_contact.phone_number %></p>
    <p><%= @customer.point_of_contact.email %></p>
  <% end %>
</div-->

<div class="mx-2 sm:mx-4">
  <%= link_to "Edit this customer", edit_admin_customer_path(@customer) %> |
  <%= link_to "Back to customers", admin_customers_path %>
  <%= button_to "Destroy this customer", admin_customer_path(@customer), method: :delete %>
</div>