<h1>Customer Show Page</h1>
<p><%= @customer.name %></p>
<p><%= @customer.email %></p>
<p><%= @customer.phone_number %></p>
<p><%= @customer.address %></p>
<p><%= @customer.city %></p>
<p><%= @customer.state %></p>
<p><%= @customer.zip_code %></p>
<% if @customer.point_of_contact%>
  <h1>Point of contact</h1>
  <p><%= @customer.point_of_contact.name %></p>
  <p><%= @customer.point_of_contact.phone_number %></p>
  <p><%= @customer.point_of_contact.email %></p>
<% end %>
<div>
  <%= link_to "Edit this customer", edit_admin_customer_path(@customer) %> |
  <%= link_to "Back to customers", admin_customers_path %>
  <%= button_to "Destroy this customer", admin_customer_path(@customer), method: :delete %>
</div>
