<div data-controller="sig-pad" class="flex flex-col border-2 border-gray-200 rounded p-4 dark:bg-gray-800 mb-10">
  <div>
    <h1 class="font-semibold text-xl mb-2">Customer signature</h1>
  </div>
  <div class="w-full flex items-center justify-center">
    <%= button_tag "C-Sign",
      type: "button",
      class: "print:hidden hidden whitespace-nowrap rounded-md block text-center text-gray-500 border-2 p-2 px-4 border-gray-200 hover:bg-primary-600 hover:border-primary-600 hover:shadow-md hover:text-gray-50 focus:z-10 focus:ring-0 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700",
      data: { action: 'click->sig-pad#toggleCustomerSigPadVisibility', sig_pad_target: "cSignButton" }
    %>
  </div>
  <div id="customer-sig-pad-container" class="w-full h-48 p-0.5">
    <canvas id="customer-canvas"  data-sig-pad-target="canvas" class="h-full w-full rounded bg-white dark:bg-gray-200"></canvas>
  </div>
  <div class="flex justify-end gap-4 mt-4 w-full">
    <%= button_tag "Clear signature",
      type: "button",
      data: { action: 'click->sig-pad#clearSignature' },
      class: "print:hidden bg-white whitespace-nowrap rounded-md block text-center text-gray-500 border-2 p-2 px-4 border-gray-200 hover:bg-primary-600 hover:border-primary-600 hover:shadow-md hover:text-gray-50 focus:z-10 focus:ring-0 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
    %>
    <%= button_tag "Save signature",
      type: "button",
      data: { action: 'click->sig-pad#saveCustomerSignature' },
      class: "print:hidden bg-white whitespace-nowrap rounded-md block text-center text-gray-500 border-2 p-2 px-4 border-gray-200 hover:bg-primary-600 hover:border-primary-600 hover:shadow-md hover:text-gray-50 focus:z-10 focus:ring-0 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
    %>
  </div>
  <%= form_with(model: @service_report, url: service_job_service_report_path(@service_job, @service_report), id: "customer-signature-form", data: { turbo_frame: "customer-signature-landing" }, class: "hidden" )  do |form|%>
    <%= form.hidden_field :customer_signature, id: "customer-signature-field" %>
  <% end %>
</div>
