<div data-controller="sig-pad" class="flex flex-col border dark:border-gray-700 rounded p-4 dark:bg-gray-800 mb-10">
  <div>
    <h1 class="font-semibold text-xl mb-2">Employee signature</h1>
  </div>
  <div class="w-full flex items-center justify-center">
    <%= button_tag "E-Sign",
        type: "button",
        class: "print:hidden hidden whitespace-nowrap rounded-md block text-center text-gray-500 border-2 p-2 px-4 border-gray-200 hover:bg-primary-600 hover:border-primary-600 hover:shadow-md hover:text-gray-50 focus:z-10 focus:ring-0 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700",
        data: { action: 'click->sig-pad#toggleEmployeeSigPadVisibility', sig_pad_target: "eSignButton" }
      %>
  </div>
  <div id="employee-sig-pad-container" class="w-full h-48 p-0.5">
    <canvas id="canvas"  data-sig-pad-target="canvas" class="h-full w-full rounded bg-white dark:bg-gray-200"></canvas>
  </div>
  <div class="flex justify-end gap-4 mt-4 w-full">
    <%= button_tag "Clear signature",
          type: "button",
          data: { action: 'click->sig-pad#clearSignature' },
          class: "print:hidden bg-white whitespace-nowrap rounded-md block text-center text-gray-500 border-2 p-2 px-4 border-gray-200 hover:bg-primary-600 hover:border-primary-600 hover:shadow-md hover:text-gray-50 focus:z-10 focus:ring-0 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
        %>
<%= button_tag "Save signature",
      type: "button",
      disabled: true,
      data: { action: 'click->sig-pad#saveEmployeeSignature', sig_pad_target: 'submitButton' },
      class: "print:hidden bg-white whitespace-nowrap rounded-md block text-center text-gray-500 border-2 p-2 px-4 border-gray-200 hover:bg-primary-600 hover:border-primary-600 hover:shadow-md hover:text-gray-50 focus:z-10 focus:ring-0 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700",
      id: "submitButton" # Add an ID to easily reference it
%>

  </div>
  <%= form_with(model: @service_report, url: service_job_service_report_path(@service_job, @service_report), id: "employee-signature-form", class: "hidden" )  do |form|%>
    <%= form.hidden_field :employee_signature, id: "employee-signature-field" %>
  <% end %>
</div>
