<div class=" print:!top-0 print:!left-0 print:!width-full print:!h-full print:!absolute">
  <div class=" bg-primary-600 dark:bg-primary-800 p-2 sm:p-3 shadow-md flex flex-row flex-wrap items-center gap-2">
    <div class="flex flex-row print:w-full">
      <%= link_to "<", service_jobs_path, class: "print:hidden mr-2 text-lg sm:text-xl font-medium text-white"%>
      <div class="print:!block hidden">
        <%= render 'shared/logo_svg' %>
      </div>
      <div class="print:ml-auto ">
        <h1 class="text-lg sm:text-xl font-medium text-white"><%= @service_job.job_number %></h1>
      </div>
    </div>
    <div class="flex flex-row flex-wrap gap-2 ml-auto">
      <%= link_to "Job Details", service_job_path(@service_job), class: "w-36 text-center text-gray-50 border-2 p-2 hover:bg-white hover:text-primary-600 border-white rounded-md text-sm font-medium hover:font-strong hover:shadow-md" %>
      <%= link_to "Purchase orders", service_job_purchase_orders_path(@service_job), class: "w-36 text-center text-gray-50 border-2 p-2 hover:bg-white hover:text-primary-600 border-white rounded-md text-sm font-medium hover:font-strong hover:shadow-md" %>
      <%= link_to "Images", service_job_images_path(@service_job), class: "w-36 text-center text-gray-50 border-2 p-2 hover:bg-white hover:text-primary-600 border-white rounded-md text-sm font-medium hover:font-strong hover:shadow-md"  %>
      <%= link_to "Reports", service_job_service_reports_path(service_job_id: @service_job), class: "w-36 text-center text-gray-50 border-2 p-2 bg-white text-primary-600 border-white rounded-md text-sm font-medium hover:font-strong hover:shadow-md over:text-primary-600" %>
    </div>
  </div>
  <div class="p-2 md:p-4">
    <div class="flex flex-row mb-2 md:mb-4 items-center justify-between gap-2">
      <h2 class="print:hidden font-bold text-gray-500 dark:text-700 text-xl"><%= @service_report.service_report_number %></h2>
      <div class="flex gap-4">


        <% link_params = { customer_view: params[:customer_view] == 'false' ? nil : false } %>

<%= link_to service_job_service_report_path(@service_job, @service_report, link_params), class: "print:hidden whitespace-nowrap rounded-md block text-center text-gray-500 border-2 p-2 px-4 border-gray-200 hover:bg-primary-600 hover:border-primary-600 hover:shadow-md hover:text-gray-50 focus:z-10 focus:ring-0 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700" do %>
  <% if params[:customer_view].nil? %>
          <svg xmlns="http://www.w3.org/2000/svg" class="<%= params[:customer_view] == nil ? '' : 'hidden' %>" height="28" width="32" viewBox="0 0 600 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#a4a5a3" d="M38.8 5.1C28.4-3.1 13.3-1.2 5.1 9.2S-1.2 34.7 9.2 42.9l592 464c10.4 8.2 25.5 6.3 33.7-4.1s6.3-25.5-4.1-33.7L525.6 386.7c39.6-40.6 66.4-86.1 79.9-118.4c3.3-7.9 3.3-16.7 0-24.6c-14.9-35.7-46.2-87.7-93-131.1C465.5 68.8 400.8 32 320 32c-68.2 0-125 26.3-169.3 60.8L38.8 5.1zm151 118.3C226 97.7 269.5 80 320 80c65.2 0 118.8 29.6 159.9 67.7C518.4 183.5 545 226 558.6 256c-12.6 28-36.6 66.8-70.9 100.9l-53.8-42.2c9.1-17.6 14.2-37.5 14.2-58.7c0-70.7-57.3-128-128-128c-32.2 0-61.7 11.9-84.2 31.5l-46.1-36.1zM394.9 284.2l-81.5-63.9c4.2-8.5 6.6-18.2 6.6-28.3c0-5.5-.7-10.9-2-16c.7 0 1.3 0 2 0c44.2 0 80 35.8 80 80c0 9.9-1.8 19.4-5.1 28.2zm51.3 163.3l-41.9-33C378.8 425.4 350.7 432 320 432c-65.2 0-118.8-29.6-159.9-67.7C121.6 328.5 95 286 81.4 256c8.3-18.4 21.5-41.5 39.4-64.8L83.1 161.5C60.3 191.2 44 220.8 34.5 243.7c-3.3 7.9-3.3 16.7 0 24.6c14.9 35.7 46.2 87.7 93 131.1C174.5 443.2 239.2 480 320 480c47.8 0 89.9-12.9 126.2-32.5zm-88-69.3L302 334c-23.5-5.4-43.1-21.2-53.7-42.3l-56.1-44.2c-.2 2.8-.3 5.6-.3 8.5c0 70.7 57.3 128 128 128c13.3 0 26.1-2 38.2-5.8z"/></svg>
  <% else %>
          <svg xmlns="http://www.w3.org/2000/svg" class="<%= params[:customer_view] == 'false' ? '' : 'hidden' %>" height="28" width="32" viewBox="0 0 576 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#a4a5a3" d="M288 80c-65.2 0-118.8 29.6-159.9 67.7C89.6 183.5 63 226 49.4 256c13.6 30 40.2 72.5 78.6 108.3C169.2 402.4 222.8 432 288 432s118.8-29.6 159.9-67.7C486.4 328.5 513 286 526.6 256c-13.6-30-40.2-72.5-78.6-108.3C406.8 109.6 353.2 80 288 80zM95.4 112.6C142.5 68.8 207.2 32 288 32s145.5 36.8 192.6 80.6c46.8 43.5 78.1 95.4 93 131.1c3.3 7.9 3.3 16.7 0 24.6c-14.9 35.7-46.2 87.7-93 131.1C433.5 443.2 368.8 480 288 480s-145.5-36.8-192.6-80.6C48.6 356 17.3 304 2.5 268.3c-3.3-7.9-3.3-16.7 0-24.6C17.3 208 48.6 156 95.4 112.6zM288 336c44.2 0 80-35.8 80-80s-35.8-80-80-80c-.7 0-1.3 0-2 0c1.3 5.1 2 10.5 2 16c0 35.3-28.7 64-64 64c-5.5 0-10.9-.7-16-2c0 .7 0 1.3 0 2c0 44.2 35.8 80 80 80zm0-208a128 128 0 1 1 0 256 128 128 0 1 1 0-256z"/></svg>
  <% end %>
<% end %>



        <%= link_to "Edit report", edit_service_job_service_report_path(@service_job, @service_report), class: "print:hidden whitespace-nowrap rounded-md block text-center text-gray-500 border-2 p-2 px-4 border-gray-200 hover:bg-primary-600 hover:border-primary-600 hover:shadow-md hover:text-gray-50 focus:z-10 focus:ring-0 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700" %>
        <%= link_to 'Export', "#" , :onclick => 'window.print();return false;', class: "print:hidden", class: "print:hidden whitespace-nowrap rounded-md block text-center text-gray-500 border-2 p-2 px-4 border-gray-200 hover:bg-primary-600 hover:border-primary-600 hover:shadow-md hover:text-gray-50 focus:z-10 focus:ring-0 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"%>
      </div>

      <!-- <%= button_to "Delete Report", service_job_service_report_path(@service_job, @service_report), method: :delete %> -->
    </div>
    <section id="first-section" class="flex flex-row flex-wrap justify-between gap-2 md:gap-4">
      <div>
        <p><strong>Customer Name:</strong> <%= @service_job.customer.name %></p>
        <p><strong>Phone Number:</strong> <%= @service_job.customer.phone_number %></p>
        <p><strong>Email:</strong> <%= @service_job.customer.email %></p>
        <p><strong>Address:</strong> <%= @service_job.customer.address %></p>
        <p><strong>City:</strong> <%= @service_job.customer.city %></p>
        <p><strong>State:</strong> <%= @service_job.customer.state %></p>
        <p><strong>Zip Code:</strong> <%= @service_job.customer.zip_code %></p>
        <p><strong>Region:</strong> <%= @service_job.customer.region&.manager %></p>
      </div>
      <div class="">
        <p><strong>Equipment Model:</strong> <%= @service_report.equipment_model %></p>
        <p><strong>Equipment Serial:</strong> <%= @service_report.equipment_serial %></p>
        <p><strong>Warranty:</strong> <%= @service_report.warranty %></p>
      </div>
      <div class="w-40 border p-2 md:p-4 rounded-md border-gray-400 dark:border-gray-700 bg-white dark:bg-gray-800">
        <p><strong>Regular:</strong> <%= get_total_hours(@time_log&.regular_minutes) || "0" %>:<%= "%02d" % (get_total_minutes(@time_log&.regular_minutes) || 0) %></p>
        <p><strong>Overtime:</strong> <%= get_total_hours(@time_log&.overtime_minutes) || "0" %>:<%= "%02d" % (get_total_minutes(@time_log&.overtime_minutes) || 0) %></p>
        <p><strong>Double:</strong> <%= get_total_hours(@time_log&.double_time_minutes) || "0" %>:<%= "%02d" % (get_total_minutes(@time_log&.double_time_minutes) || 0) %></p>
        <p><strong>Mileage:</strong> <%= @time_log&.mileage || "0"%></p>
      </div>
    </section>
    <hr class="w-full my-4 border-gray-700 dark:border-gray-700">
    <section id="second-section" class="">
      <h2 class="w-full font-bold mb-2">Materials Used</h2>
      <div class="flex flex-wrap gap-2">
        <% @service_report_materials.each do |material| %>
          <div class="mx-auto md:mx-0">
            <div class="border w-40 items-center p-2 mx-auto text-sm rounded-md bg-white dark:bg-gray-800 dark:border-gray-700">
              <p><strong>Name:</strong> <%= material.name %></p>
              <p><strong>Quantity:</strong> <%= material.quantity %></p>
              <p class="<%= params[:customer_view] == 'false' ? '' : 'hidden' %>"><strong>Price:</strong> $<%= format_price(material.price) %></p>
              <p class="<%= params[:customer_view] == 'false' ? '' : 'hidden' %>"><strong>Pre-Tax Total:</strong> $<%= format_price(material.pre_tax_total) %></p>
            </div>
          </div>
        <% end %>
      </div>
    </section>
    <hr class="w-full my-4 border-gray-200 dark:border-gray-700">
    <section id="third-section" class="grid grid-cols-1 md:grid-cols-2 justify-between gap-2 md:gap-4 items-start mb-4">
      <div class="mb-4">
        <h2 class="font-bold mb-2">Work Description</h2>
        <div class="border rounded-md bg-white dark:bg-gray-800 dark:border-gray-700  p-2 md:p-4">
          <p><%= @service_report.description %></p>
        </div>
      </div>
      <div class="grid grid-cols-1 gap-4 my-4">
        <div class="flex items-center">
          <div class="w-1/5">QTY</div>
          <div class="w-2/5">Description</div>
          <div class="w-1/5 <%= params[:customer_view] == 'false' ? '' : 'hidden' %>">Unit Price</div>
          <div class="w-1/5 <%= params[:customer_view] == 'false' ? '' : 'hidden' %>">Total Cost</div>
        </div>
        <hr class="w-full border-gray-200 dark:border-gray-700">
        <% if @purchase_orders %>
          <% @purchase_orders.each do |po| %>
            <div class="flex items-center">

              <div class="w-1/5 pl-2"><%= po.quantity %></div>
              <div class="w-2/5 relative">
                <div class="truncate w-full" title="<%= po.description %>">
                  <%= po.description %>
                </div>
                <div class="hidden group-hover:block absolute bg-white p-2 borde rounded-md shadow-md">
                  <%= po.description %>
                </div>
              </div>
              <div class="w-1/5 pl-2 <%= params[:customer_view] == 'false' ? '' : 'hidden' %>"> $<%= format_price(po.price) %></div>
              <div class="w-1/5 pl-2 <%= params[:customer_view] == 'false' ? '' : 'hidden' %>"> $<%= format_price(po.total_price) %></div>
            </div>
          <% end %>
        <% end %>
      </div>
    </section>
    <section>
      <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-6 justify-around text-center w-full dark:bg-gray-800 border rounded dark:border-gray-700 py-2 gap-2">
        <div>
          <h2 class="font-bold">Total Hours</h2>
          <span>###</span>
        </div>
        <div>
          <h2 class="font-bold">Total Parts</h2>
          <span>###</span>
        </div>
        <div>
          <h2 class="font-bold">Total Misc</h2>
          <span>###</span>
        </div>
        <div>
          <h2 class="font-bold">Mileage/Shipping</h2>
          <span>###</span>
        </div>
        <div>
          <h2 class="font-bold">Tax</h2>
          <span>###</span>
        </div>
        <div>
          <h2 class="font-bold">Total</h2>
          <span>###</span>
        </div>
      </div>
    </section>
    <section class="flex justify-center lg:justify-around flex-col w-full h-full mt-10 ">
      <div class="">
        <div id="signature-landing">
          <% if @service_report.employee_signature.nil? %>
            <%= render partial: "employee_signature_form" %>
          <% else %>
            <%= render partial: "signature", locals: {signature_type: "employee_signature"}%>
          <% end %>
        </div>
      </div>
      <div class="mt-10">
        <% if @service_report.customer_signature.nil? %>
          <%= render partial: "customer_signature_form" %>
        <% else %>
          <%= render partial: "signature", locals: {signature_type: "customer_signature"}%>
        <% end %>
      </div>
    </section>
  </div>
</div>
