<%= link_to "Edit report", edit_service_job_service_report_path(@service_job, @service_report)%>
<%= button_to "Delete Report", service_job_service_report_path(@service_job, @service_report), method: :delete %>

<div class="border-4">
  <h1><strong>Service Report:</strong> <%= @service_report.service_report_number %></h1>
  <section id="first-section" class="border border-red-600 my-4 flex justify-between">
    <div>
      <p><strong>Customer Name:</strong> <%= @service_report.service_report_number %></p>
      <p><strong>Phone Number:</strong> <%= @service_job.customer.phone_number %></p>
      <p><strong>Email:</strong> <%= @service_job.customer.email %></p>
      <p><strong>Address:</strong> <%= @service_job.customer.address %></p>
      <p><strong>City:</strong> <%= @service_job.customer.city %></p>
      <p><strong>State:</strong> <%= @service_job.customer.state %></p>
      <p><strong>Zip Code:</strong> <%= @service_job.customer.zip_code %></p>
      <p><strong>Region:</strong> <%= @service_job.customer.region.manager %></p>
    </div>
    <div>
      <p><strong>Equipment Model:</strong> <%= @service_report.equipment_model %></p>
      <p><strong>Equipment Serial:</strong> <%= @service_report.equipment_serial %></p>
      <p><strong>Warranty:</strong> <%= @service_report.warranty %></p>
    </div>
    <div>
      <div class="flex flex-col">
        <p><strong>Regular time:</strong> <%= get_total_hours(time: @service_report.time_log&.regular_minutes) %>:<%= get_total_minutes(time: @service_report.time_log&.regular_minutes) %></p>
        <p><strong>Overtime:</strong> <%= get_total_hours(time: @service_report.time_log&.overtime_minutes) %>:<%= get_total_minutes(time: @service_report.time_log&.overtime_minutes) %></p>
        <p><strong>Double time:</strong> <%= get_total_hours(time: @service_report.time_log&.double_time_minutes) %>:<%= get_total_minutes(time: @service_report.time_log&.double_time_minutes) %></p>
        <p><strong>Mileage:</strong> <%= @service_report.time_log&.mileage %></p>
      </div>
    </div>
  </section>
  <section id="second-section" class="border border-blue-600 my-4">
    <h1 class="w-full">Materials Used</h1>
    <div class="flex flex-wrap mx-4">
      <% @service_report_materials.each do |material| %>
        <div class="px-4 mb-4">
          <div class="border black p-4">
            <p><strong>Material Name:</strong> <%= material.name %></p>
            <p><strong>Material Price:</strong> <%= material.price %></p>
            <p><strong>Material Quantity:</strong> <%= material.quantity %></p>
            <p><strong>Material Pre Tax Total:</strong> <%= material.pre_tax_total %></p>
          </div>
        </div>
      <% end %>
    </div>
  </section>
  <section id="third-section" class="border border-green-400 my-4 flex justify-between">
    <div>
      <p><strong>Work Description:</strong> <%= @service_report.description %></p>
    </div>
    <div id="individual-materials-list" class="flex">
      <table border="1">
        <tr>
          <th>QTY</th>
          <th>Description</th>
          <th>Unit Price</th>
          <th>Total Cost</th>
        </tr>
        <tr>
          <td>1</td>
          <td>Test Description</td>
          <td>$10.00</td>
          <td>$10.00</td>
        </tr>
      </table>
    </div>
  </section>
  <section id="fourth-section" class="border border-blue-500">
    <div class="border border-black flex flex-col items-center">
      <div class="flex flex-row justify-between w-full">
        <div class="border border-black">
          <h2>Total Hours</h2>
          <span>###</span>
        </div>
        <div class="border border-black">
          <h2>Total Parts</h2>
          <span>###</span>
        </div>
        <div class="border border-black">
          <h2>Total Misc</h2>
          <span>###</span>
        </div>
        <div class="border border-black">
          <h2>Mileage/Shipping</h2>
          <span>###</span>
        </div>
        <div class="border border-black">
          <h2>Tax</h2>
          <span>###</span>
        </div>
        <div class="border border-black">
          <h2>Total</h2>
          <span>###</span>
        </div>
      </div>
      <div class="flex justify-around w-full my-10">
        <div>
          <p><strong>Employee Signature:</strong> <%= @service_report.employee_signature %></p>
        </div>
        <div>
          <p><strong>Customer Signature:</strong> <%= @service_report.customer_signature %></p>
        </div>
      </div>
    </div>
  </section>
</div>
