<div class="bg-primary-600 dark:bg-primary-800 p-2 sm:p-3 shadow-md flex flex-row flex-wrap items-center gap-2">
  <div class="flex flex-row">
    <%= link_to "<", service_jobs_path, class: "mr-2 text-lg sm:text-xl font-medium text-white" %>
    <h1 class="text-lg sm:text-xl font-medium text-white"><%= @service_report.service_report_number %></h1>
  </div>

  <div class="flex flex-row flex-wrap gap-2 ml-auto">
    <%= link_to "Job Details", service_job_path(@service_job), class: "w-36 text-center text-gray-50 border-2 p-2 bg-white text-primary-600 border-white rounded-md text-sm font-medium hover:font-strong hover:shadow-md"  %>
    <%= link_to "Reports", service_job_service_reports_path(service_job_id: @service_job), class: "w-36 text-center text-gray-50 border-2 p-2 hover:bg-white hover:text-primary-600 border-white rounded-md text-sm font-medium hover:font-strong hover:shadow-md"  %>
  </div>
</div>

<!-- %= link_to "Edit report", edit_service_job_service_report_path(@service_job, @service_report)% -->
<!-- %= button_to "Delete Report", service_job_service_report_path(@service_job, @service_report), method: :delete % -->

<div class="p-2 md:p-4">
  
  <section id="first-section" class="flex flex-row flex-wrap justify-between gap-2 md:gap-4">
    <div>
      <p><strong>Customer Name:</strong> <%= @service_report.service_report_number %></p>
      <p><strong>Phone Number:</strong> <%= @service_job.customer.phone_number %></p>
      <p><strong>Email:</strong> <%= @service_job.customer.email %></p>
      <p><strong>Address:</strong> <%= @service_job.customer.address %></p>
      <p><strong>City:</strong> <%= @service_job.customer.city %></p>
      <p><strong>State:</strong> <%= @service_job.customer.state %></p>
      <p><strong>Zip Code:</strong> <%= @service_job.customer.zip_code %></p>
      <p><strong>Region:</strong> <%= @service_job.customer.region.manager %></p>
    </div>
    <div class="">
      <p><strong>Equipment Model:</strong> <%= @service_report.equipment_model %></p>
      <p><strong>Equipment Serial:</strong> <%= @service_report.equipment_serial %></p>
      <p><strong>Warranty:</strong> <%= @service_report.warranty %></p>
    </div>

    <div class="w-40 border p-2 md:p-4 rounded-md border-gray-400 dark:border-gray-700 bg-white dark:bg-gray-800">
      <p><strong>Regular:</strong> <%= get_total_hours(@time_log&.regular_minutes) %>:<%= get_total_minutes(@time_log&.regular_minutes) %></p>
      <p><strong>Overtime:</strong> <%= get_total_hours(@time_log&.overtime_minutes) %>:<%= get_total_minutes(@time_log&.overtime_minutes) %></p>
      <p><strong>Double:</strong> <%= get_total_hours(@time_log&.double_time_minutes) %>:<%= get_total_minutes(@time_log&.double_time_minutes) %></p>
      <p><strong>Mileage:</strong> <%= @time_log&.mileage %></p>
    </div>
  </section>

  <hr class="w-full my-4 border-gray-200 dark:border-gray-700">

  <section id="second-section" class="">
    <h2 class="w-full font-bold mb-2">Materials Used</h1>
    <div class="flex flex-wrap gap-2">
      <% @service_report_materials.each do |material| %>
        <div class="">
          <div class="border p-2 text-sm rounded-md bg-white dark:bg-gray-800">
            <p><strong>Name:</strong> <%= material.name %></p>
            <p><strong>Quantity:</strong> <%= material.quantity %></p>
            <p><strong>Price:</strong> <%= material.price %></p>
            <p><strong>Pre-Tax Total:</strong> <%= material.pre_tax_total %></p>
          </div>
        </div>
      <% end %>
    </div>
  </section>

  <hr class="w-full my-4 border-gray-200 dark:border-gray-700">

  <section id="third-section" class="flex flex-row flex-wrap justify-between gap-2 items-start mb-4">

    <div class="w-96">
      <h2 class="font-bold mb-2">Description of Work Done</h2>
      <div class="border-2 rounded-md bg-white dark:bg-gray-800 p-2 md:p-4">
        <p><%= @service_report.description %></p>
      </div>
    </div>

    <table id="individual-materials-list" class="border">
      <tr class="border bg-gray-200 dark:bg-gray-700">
        <th class="px-2">QTY</th>
        <th class="px-2">Description</th>
        <th class="px-2">Unit Price</th>
        <th class="px-2">Total Cost</th>
      </tr>
      <tr class="bg-white dark:bg-gray-800">
        <td class="border px-2 text-right">1</td>
        <td class="border px-2">Test Description</td>
        <td class="border px-2 text-right">$10.00</td>
        <td class="border px-2 text-right">$10.00</td>
      </tr>
    </table>

  </section>

  <section>
      <div class="flex flex-row justify-around w-full bg-gray-200 py-2">
        <div>
          <h2 class="font-bold">Total Hours</h2>
          <span>###</span>
        </div>
        <div>
          <h2 class="font-bold">Total Parts</h2>
          <span>###</span>
        </div>
        <div>
          <h2 class="font-bold">Total Misc</h2>
          <span>###</span>
        </div>
        <div>
          <h2 class="font-bold">Mileage/Shipping</h2>
          <span>###</span>
        </div>
        <div>
          <h2 class="font-bold">Tax</h2>
          <span>###</span>
        </div>
        <div>
          <h2 class="font-bold">Total</h2>
          <span>###</span>
        </div>
      </div>
  </section>

  <section>
      <div class="flex justify-around w-full my-10">
        <div>
          <p><strong>Employee Signature:</strong> <%= @service_report.employee_signature %></p>
        </div>
        <div>
          <p><strong>Customer Signature:</strong> <%= @service_report.customer_signature %></p>
        </div>
      </div>
  </section>
