<div class="bg-primary-600 dark:bg-primary-800 p-2 sm:p-3 shadow-md flex flex-row flex-wrap items-center gap-2">
  <div class="flex flex-row">
    <%= link_to "<", :back, class: "mr-2 text-lg sm:text-xl font-medium text-white" %>
    <h1 class="text-lg sm:text-xl font-medium text-white"><%= @user.name %></h1>
  </div>
  <div class="flex flex-row gap-2 ml-auto">
  <%= link_to "Edit user", edit_user_path(@user), class: "w-36 text-center ml-auto text-gray-50 border-2 p-2 hover:bg-white hover:text-primary-600 border-white rounded-md text-sm font-medium hover:font-strong hover:shadow-md" %>
  </div>
</div>
<div class="border rounded m-2 sm:mx-4 p-3 bg-white dark:bg-gray-800 border-gray-300 dark:border-gray-500 grid grid-cols-1 md:grid-cols-2 gap-4">

  <div class="row-span-1 lg:col-span-1 w-96">
    <p>Role:</p>
    <p><%= @user.email %></p>
  </div>

  <div class="row-span-1 lg:col-span-1 w-96">
    <p>Home phone:</p>
    <p><%= @user.home_phone %></p>
  </div>

  <div class="row-span-1 lg:col-span-1 w-96">
    <p>Work phone:</p>
    <p><%= @user.work_phone %></p>
  </div>

  <div class="row-span-1 lg:col-span-1 w-96">
    <p>Carrier:</p>
    <p><%= @user.carrier %></p>
  </div>

  <div class="row-span-1 lg:col-span-2 w-96">
    <p>Address:</p>
    <p><%= @user.address.capitalize %> <br /> <%= @user.city.capitalize %>, <%= @user.state.capitalize %> <%= @user.zip_code %></p>
  </div>

  <div class="row-span-1 lg:col-span-1 w-96">
    <p>Hire date:</p>
    <p><%= @user.hire_date.strftime("%B %d, %Y") %></p>
  </div>
</div>
