<turbo_frame id="24HourView">
  <div class="overflow-x-scroll bg-white dark:bg-gray-800 border border-gray-300 dark:border-gray-500 rounded mx-2 md:mx-4" style="display:grid; grid-template-columns: 200px repeat(96, 15px);">
    <div class="text-xs text-center font-semibold bg-gray-300  dark:bg-gray-500 border-r border-gray-300 dark:border-gray-500">&nbsp;</div>
    <div class="text-xs text-center pl-1 font-semibold border-l border-b bg-gray-200 dark:bg-gray-900 border-gray-300 dark:border-gray-600" style="grid-column-start:2; grid-column-end:6">12am</div>
    <div class="text-xs text-center pl-1 font-semibold border-l border-b bg-gray-200 dark:bg-gray-900 border-gray-300 dark:border-gray-600" style="grid-column-start:6; grid-column-end:10">1am</div>
    <div class="text-xs text-center pl-1 font-semibold border-l border-b bg-gray-200 dark:bg-gray-900 border-gray-300 dark:border-gray-600" style="grid-column-start:10; grid-column-end:14">2am</div>
    <div class="text-xs text-center pl-1 font-semibold border-l border-b bg-gray-200 dark:bg-gray-900 border-gray-300 dark:border-gray-600" style="grid-column-start:14; grid-column-end:18">3am</div>
    <div class="text-xs text-center pl-1 font-semibold border-l border-b bg-gray-200 dark:bg-gray-900 border-gray-300 dark:border-gray-600" style="grid-column-start:18; grid-column-end:22">4am</div>
    <div class="text-xs text-center pl-1 font-semibold border-l border-b bg-gray-200 dark:bg-gray-900 border-gray-300 dark:border-gray-600" style="grid-column-start:22; grid-column-end:26">5am</div>
    <div class="text-xs text-center pl-1 font-semibold border-l border-b bg-gray-200 dark:bg-gray-900 border-gray-300 dark:border-gray-600" style="grid-column-start:26; grid-column-end:30">6am</div>
    <div class="text-xs text-center pl-1 font-semibold border-l border-b bg-gray-200 dark:bg-gray-900 border-gray-300 dark:border-gray-600" style="grid-column-start:30; grid-column-end:34">7am</div>
    <div class="text-xs text-center pl-1 font-semibold border-l border-b bg-gray-200 dark:bg-gray-900 border-gray-300 dark:border-gray-600" style="grid-column-start:34; grid-column-end:38">8am</div>
    <div class="text-xs text-center pl-1 font-semibold border-l border-b bg-gray-200 dark:bg-gray-900 border-gray-300 dark:border-gray-600" style="grid-column-start:38; grid-column-end:42">9am</div>
    <div class="text-xs text-center pl-1 font-semibold border-l border-b bg-gray-200 dark:bg-gray-900 border-gray-300 dark:border-gray-600" style="grid-column-start:42; grid-column-end:46">10am</div>
    <div class="text-xs text-center pl-1 font-semibold border-l border-b bg-gray-200 dark:bg-gray-900 border-gray-300 dark:border-gray-600" style="grid-column-start:46; grid-column-end:50">11am</div>
    <div class="text-xs text-center pl-1 font-semibold border-l border-b bg-gray-200 dark:bg-gray-900 border-gray-300 dark:border-gray-600" style="grid-column-start:50; grid-column-end:54">12pm</div>
    <div class="text-xs text-center pl-1 font-semibold border-l border-b bg-gray-200 dark:bg-gray-900 border-gray-300 dark:border-gray-600" style="grid-column-start:54; grid-column-end:58">1pm</div>
    <div class="text-xs text-center pl-1 font-semibold border-l border-b bg-gray-200 dark:bg-gray-900 border-gray-300 dark:border-gray-600" style="grid-column-start:58; grid-column-end:62">2pm</div>
    <div class="text-xs text-center pl-1 font-semibold border-l border-b bg-gray-200 dark:bg-gray-900 border-gray-300 dark:border-gray-600" style="grid-column-start:62; grid-column-end:66">3pm</div>
    <div class="text-xs text-center pl-1 font-semibold border-l border-b bg-gray-200 dark:bg-gray-900 border-gray-300 dark:border-gray-600" style="grid-column-start:66; grid-column-end:70">4pm</div>
    <div class="text-xs text-center pl-1 font-semibold border-l border-b bg-gray-200 dark:bg-gray-900 border-gray-300 dark:border-gray-600" style="grid-column-start:70; grid-column-end:74">5pm</div>
    <div class="text-xs text-center pl-1 font-semibold border-l border-b bg-gray-200 dark:bg-gray-900 border-gray-300 dark:border-gray-600" style="grid-column-start:74; grid-column-end:78">6pm</div>
    <div class="text-xs text-center pl-1 font-semibold border-l border-b bg-gray-200 dark:bg-gray-900 border-gray-300 dark:border-gray-600" style="grid-column-start:78; grid-column-end:82">7pm</div>
    <div class="text-xs text-center pl-1 font-semibold border-l border-b bg-gray-200 dark:bg-gray-900 border-gray-300 dark:border-gray-600" style="grid-column-start:82; grid-column-end:86">8pm</div>
    <div class="text-xs text-center pl-1 font-semibold border-l border-b bg-gray-200 dark:bg-gray-900 border-gray-300 dark:border-gray-600" style="grid-column-start:86; grid-column-end:90">9pm</div>
    <div class="text-xs text-center pl-1 font-semibold border-l border-b bg-gray-200 dark:bg-gray-900 border-gray-300 dark:border-gray-600" style="grid-column-start:90; grid-column-end:94">10pm</div>
    <div class="text-xs text-center pl-1 font-semibold border-l border-b bg-gray-200 dark:bg-gray-900 border-gray-300 dark:border-gray-600" style="grid-column-start:94; grid-column-end:98">11pm</div>
    <% current_name = nil %>
    <% total_colors = ScheduleHelper.color_list.length - 1 %>
    <% color_index  = 0 %>
    <% @daily_tech_schedule_data.each do |data| %>
      <% if current_name != data.name %>
        <div class="p-2 text-sm font font-semibold bg-gray-100 dark:bg-gray-900 border-r border-t border-gray-300 dark:border-gray-600" style="grid-column: 1"><%= data.name %></div>
        <% current_name = data.name %>
        <% color_index = (color_index == total_colors) ? 0 : color_index + 1 %>
      <% end %>
      <% unless ScheduleHelper.get_24_hr_grid_col_value(data.start_time).nil? %>
        <div class="<%= ScheduleHelper.color_list[color_index]  %> text-white italic flex items-center p-1 m-1 rounded-sm shadow-md text-sm whitespace-nowrap text-ellipsis overflow-hidden"
          style="grid-column-start: <%= ScheduleHelper.get_24_hr_grid_col_value(data.start_time) %>; grid-column-end: <%= ScheduleHelper.get_24_hr_grid_col_value(data.end_time) %>">
          <%= link_to schedule_path(user_service_job_id: data.user_service_job_id, display_modal: "true", user_id: data.user_id), data: {turbo_stream: true}, title: "#{data.customer_name}" do %>
            <span class=""><%= data.customer_name %></span>
            <span class=" pl-6"><%= data.start_time.strftime('%l:%M %p') %> - <%= data.end_time.strftime('%l:%M %p') %></span>
          <% end %>
        </div>
      <% end %>
    <% end %>
    <turbo_frame id="scheduleDetials">
    </turbo_frame>
  </div>
</turbo_frame>
