<turbo_frame id="scheduleDetailsModal">
  <div class="fixed top-0 right-0 left-0 z-50 flex items-center justify-center h-screen bg-opacity-50 bg-gray-900">
    <div class="relative p-4 w-full max-w-2xl">
      <!-- Modal content -->
      <div class="relative p-4 bg-white rounded-lg shadow dark:bg-gray-800 sm:p-5 h-screen max-h-screen overflow-y-scroll">
        <!-- Modal header -->
        <div class="flex justify-between items-center pb-4 mb-4 rounded-t border-b sm:mb-5 dark:border-gray-600">
          <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
            Service job details
          </h3>
          <%= link_to schedule_path(display_modal: false) do %>
            <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
            </svg>
            <span class="sr-only">Close modal</span>
          <% end %>
        </div>
        <% if current_user.admin? %>
          <%= render partial: 'edit_user_service_job'%>
        <% end %>
        <div class="">
          <details class="flex w-full">
            <summary class="ml-auto flex">
              <span class="mt-2 w-full text-center items-center justify-center hover:cursor-pointer inline-flex py-2.5 px-5 text-sm font-medium text-gray-500 focus:outline-none bg-white rounded-md border-2 border-gray-200 hover:bg-primary-600 hover:border-primary-600 hover:shadow-md hover:text-gray-50 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                Assignment Details
              </span>
            </summary>
            <div class="flex rounded">
              <div class="flex flex-col">
                <div class="mb-4 flex flex-col">
                  <p class="font-semibold mb-1 mt-4">Technician</p>
                  <p class="ml-1"><%= @user.name %></p>
                </div>
                <div class="mb-4 flex flex-col">
                  <p class="font-semibold mb-1">Service Job</p>
                  <p class="ml-1"><%= @service_job.job_number %></p>
                </div>
                <div class="mb-4 flex flex-col">
                  <p class="font-semibold mb-1">Date</p>
                  <p class="ml-1"><%= @user_service_job.date.strftime("%B %d, %Y") %></p>
                </div>
                <div class="mb-4 flex flex-col">
                  <p class="font-semibold mb-1">Time</p>
                  <p class="ml-1"><%= @user_service_job.start_time.strftime('%l:%M %p') %> - <%= @user_service_job.end_time.strftime('%l:%M %p') %></p>
                </div>
                <div class="mb-4 flex flex-col">
                  <p class="font-semibold mb-1">Customer</p>
                  <p class="ml-1"><%= @customer.name %></p>
                </div>
                <% if @work_site.present? %>
                  <div class="mb-4 flex flex-col">
                    <p class="font-semibold mb-1">Work Site</p>
                    <p class="ml-1"><%= @work_site.name %></p>
                  </div>
                <% end %>
                <div class="mb-4 flex flex-col">
                  <p class="font-semibold mb-1">Description</p>
                  <p class="ml-1"><%= @service_job.description %></p>
                </div>
              </div>
            </details>
          </div>
        </div>
      </div>
    </div>
  </div>
</turbo_frame>
