<div class="bg-primary-600 dark:bg-primary-800 p-2 sm:p-3 shadow-md flex flex-row flex-wrap items-center gap-2">
  <div class="flex flex-row">
    <%= link_to "<", customers_path, class: "mr-2 text-lg sm:text-xl font-medium text-white" %>
    <h1 class="text-lg sm:text-xl font-medium text-white"><%= @customer.name %></h1>
  </div>
  <div class="flex flex-row gap-2 ml-auto">
    <%= link_to "Edit Customer", edit_customer_path(@customer), class: "w-36 text-center text-gray-50 border-2 p-2 hover:bg-white hover:text-primary-600 border-white rounded-md text-sm font-medium hover:font-strong hover:shadow-md" %>
  </div>
</div>
<section id="customer-info">
  <div class="m-2 bg-white dark:bg-gray-800 sm:m-4 border rounded-md p-2 sm:p-4 flex flex-wrap justify-between text-sm gap-4 border-gray-300 dark:border-gray-500">
    <div>
      <h1 class="font-semibold">Customer</h1>
      <p><%= @customer.name %></p>
      <p><%= @customer.email %></p>
      <p><%= @customer.phone_number %></p>
    </div>
    <div>
      <h1 class="font-semibold">Address</h1>
      <p><%= @customer.address %></p>
      <p><%= @customer.city %></p>
      <p><%= @customer.state %>, <%= @customer.zip_code %></p>
    </div>
    <div>
      <h1 class="font-semibold">Point of contact</h1>
      <% if @customer.point_of_contact%>
        <p><%= @customer.point_of_contact.name %></p>
        <p><%= @customer.point_of_contact.phone_number %></p>
        <p><%= @customer.point_of_contact.email %></p>
      <% end %>
    </div>
  </div>
</section>

<div class="w-full flex justify-between mt-20 pl-4 pr-4">
  <div class="">
    <label class=" text-sm font-semibold text-center">Customer's service job list</label>
  </div>

  <div class="w-40 flex">
  <%= form_with(path: customer_path(@customer), method: 'get') do %>
    <div class="relative w-full sm:w-auto rounded overflow-visible h-9 text-center items-center flex justify-center">
      <%= select_tag 'filter_by',
      options_for_select(
        [["All statuses", ''],
        *ServiceJobStatusListHelper.service_job_statuses],
        selected: params[:filter_by],
      ),
      onchange: 'this.form.submit()',
      class: 'hover:cursor-pointer block w-full text-sm text-gray-900 border border-gray-300 rounded-lg bg-white focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 placeholder-gray-400 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500'
    %>
    </div>
  <% end %>
  </div>
</div>

<section id="customer-service-job-list">
  <div class="border rounded-md border-gray-300 dark:border-gray-600 m-4">
    <% unless @customer_service_jobs.empty? %>
      <div class="grid grid-cols-5 gap-4 p-2">
        <div class="col-span-1 px-4 py-2 font-semibold text-sm text-center border-b border-gray-300 dark:border-gray-600">Job number</div>
        <div class="col-span-1 px-4 py-2 font-semibold text-sm text-center border-b border-gray-300 dark:border-gray-600">Status</div>
        <div class="col-span-1 px-4 py-2 font-semibold text-sm text-center border-b border-gray-300 dark:border-gray-600">Description</div>
        <div class="col-span-1 px-4 py-2 font-semibold text-sm text-center border-b border-gray-300 dark:border-gray-600">Work site</div>
        <% @customer_service_jobs.each do |service_job| %>
          <div class="col-span-1 px-4 py-2 border-b border-gray-300 dark:border-gray-600 items-center justify-center flex text-sm"><%= service_job.job_number  %></div>
          <div class="col-span-1 px-4 py-2 border-b border-gray-300 dark:border-gray-600 items-center justify-center flex text-sm"><%= service_job.status.capitalize.gsub("_", " ") %></div>
          <div class="col-span-1 px-4 py-2 border-b border-gray-300 dark:border-gray-600 items-center justify-center flex text-sm"><%= service_job.description %></div>
          <% unless service_job.work_site.nil? %>
            <div class="col-span-1 px-4 py-2 border-b border-gray-300 dark:border-gray-600 items-center justify-center flex text-sm"><%= service_job.work_site.name  %></div>
          <% else %>
            <div class="col-span-1 px-4 py-2 border-b border-gray-300 dark:border-gray-600"></div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</section>
