<div class="mx-auto flex-col w-1/2 flex items-center">
  <h1 class="">YAY!!!!! You made it to the test page with the custom button component</h1>
  <ul class="ml-10 mt-10">
    <li class="font-bold text-xl">Current styling schemes</li>
    <li class="ml-16 my-1">Default</li>
    <li class="ml-16">primary</li>
    <li class="ml-16 my-1">secondary</li>
    <li class="ml-16">danger</li>
    <li class="ml-16 my-1">link</li>
  </ul>
  <div class="flex flex-col my-10 gap-10">
    <div><%= render(ButtonComponent.new(text: "hello world hello world hello world"))%></div>
    <div><%= render(ButtonComponent.new(styling_scheme: :primary))%></div>
    <div><%= render(ButtonComponent.new(styling_scheme: :secondary))%></div>
    <div><%= render(ButtonComponent.new(styling_scheme: :danger))%></div>
    <div><%= render(ButtonComponent.new(styling_scheme: :link))%></div>
  </div>
</div>
<div class="h-20 w-20">
  <i class="fa-light fa-atom-simple" style="color: #000000; height: 20px;"></i>
</div>
<div>
<%= render(ButtonComponent.new(leading_visual: {class: "fa-light fa-atom-simple", style: "color: #000000;"}))%>
</div>
