<div class="bg-primary-600 dark:bg-primary-800 p-2 sm:p-3 shadow-md flex flex-row items-center h-16">
  <h1 class="text-lg sm:text-xl font-medium text-white"> Weekly time sheet for: <%= content_tag(:span, @start_date.strftime(" %B %d, %Y"), class: 'underline') if @start_date %> - through - <%= content_tag(:span, @end_date.strftime(" %B %d, %Y"), class: 'underline') if @end_date %> </h1>
  <% if current_user.admin? %>
  <%= link_to "New Job", new_service_job_path, class: "w-36 text-center ml-auto text-gray-50 border-2 p-2 hover:bg-white hover:text-primary-600 dark:hover:text-gray-800 border-white rounded-md text-sm font-medium hover:font-strong hover:shadow-md", data: { turbo: false } %>
  <% end %>
</div>
<div class="p-3">
  <section id="controls">
    <div class="flex justify-end gap-6 sm:flex-wrap md:flex-row">
      <div data-controller="time-sheets" class="flex flex-col">
        <div class="flex">
          <%= form_tag time_sheets_path, method: :get, data: { time_sheets_target: 'form' }, id: "time-sheet-form", class: "flex justify-center" do %>
            <%= select_tag 'time_frame',
              options_for_select(['Current week', 'Last week', 'Custom time'],
              params[:time_frame]),
              data: { "time-sheets-target": 'timeFrameSelect' },
              class: 'w-36 h-10 hover:cursor-pointer block text-sm text-gray-900 border border-gray-300 rounded-lg bg-white focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 placeholder-gray-400 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500'
              %>
            <%= select_tag 'sort_by',
              options_for_select(
                [
                  ['- Sort by', 'name asc'],
                  ['Name asc', 'name asc'],
                  ['Name desc', 'name desc']
                ],
                selected: params[:sort_by]
              ),
              onchange: 'this.form.submit()',
              class: 'w-36 h-10 ml-4 hover:cursor-pointer block p-2 pl-6 pr-8 text-sm text-gray-900 border border-gray-300 rounded-lg bg-white focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 placeholder-gray-400 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500'
            %>
          </div>
          <div data-time-sheets-target="datepickers" class="flex flex-row hidden gap-4 mt-4" data-time-sheet-target="datepickers">
            <%= date_field_tag :start_date,  nil, value: @start_date ? @start_date.strftime("%m/%d/%Y") : nil, class: "w-36 h-10 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block ps-2 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder: "Select date start" %>
            <%= date_field_tag :end_date, nil, value: @end_date ? @end_date.strftime("%m/%d/%Y") : nil, onchange: 'this.form.submit()', class: "w-36 h-10 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block ps-2 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder: "Select date end" %>
          </div>
        <% end %>
      </div>
    </div>
  </section>
  <section id="time-sheet" class="grid grid-cols-1 rounded mt-2">
    <div class="rounded dark:bg-gray-900">
      <% @users_with_time_log_totals.each do |user| %>
        <div class="bg-white dark:bg-gray-800 border-gray-300 dark:border-gray-500 rounded my-3">
          <div class="grid lg:grid-cols-7 grid-cols-2 rounded lg:min-h-20 p-2 ml-10 md:ml-0">
            <div class="col-span-1 flex items-center md:pl-24 lg:justify-start lg:pl-4 lg:my-0 my-1">
              <h3 class="pl-2 font-semibold"><%= user.name %></h3>
            </div>
            <div class="flex lg:hidden mt-3 pl-12 md:pl-40 lg:ml-0 mb-3 border-bottom-1 pt-2">
              <%= link_to "View", time_sheet_path(user.user_id, start_date: params[:start_date], end_date: params[:end_date]), class: "rounded-md block w-16 h-8 flex justify-center items-center text-center text-gray-500 border-2 p-2 border-gray-200 hover:bg-primary-600 hover:border-primary-600 hover:shadow-md hover:text-gray-50 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"%>
            </div>
            <div class="col-span-1 flex lg:items-center md:pl-24 lg:justify-start lg:pl-10 lg:my-0 my-1">
              <p class="pl-2 lg:pl-0">Regular: <%= get_total_hours(user.total_regular_minutes) || "0" %>:<%= "%02d" % (get_total_minutes(user.total_regular_minutes) || 0) %></p>
            </div>
            <div class="col-span-1 flex lg:items-center pl-10 md:pl-24 lg:justify-start lg:pl-10 lg:my-0 my-1">
              <p class="pl-2 lg:pl-0">Overtime: <%= get_total_hours(user.total_overtime_minutes) || "0" %>:<%= "%02d" % (get_total_minutes(user.total_overtime_minutes) || 0) %></p>
            </div>
            <div class="col-span-1 flex lg:items-center md:pl-24 lg:justify-start lg:pl-10 lg:my-0 my-1">
              <p class="pl-2 lg:pl-0">Double: <%= get_total_hours(user.total_double_time_minutes) || "0" %>:<%= "%02d" % (get_total_minutes(user.total_double_time_minutes) || 0) %></p>
            </div>
            <div class="col-span-1 flex lg:items-center pl-10 md:pl-24 lg:justify-start lg:pl-10 lg:my-0 my-1">
              <p class="pl-2 lg:pl-0">Mileage: <%= user.total_mileage %></p>
            </div>
            <div class="col-span-1 flex lg:items-center md:pl-24 lg:justify-start lg:pl-10 lg:my-0 my-1">
              <p class="pl-2 lg:pl-0">Total hours: <%= get_total_hours(user.total_regular_minutes + user.total_overtime_minutes + user.total_double_time_minutes) || "0" %>:<%= "%02d" % (get_total_minutes(user.total_regular_minutes + user.total_overtime_minutes + user.total_double_time_minutes) || 0) %></p>
            </div>
            <div class="lg:flex hidden lg:visible lg:items-center lg:justify-center lg:mt-0 lg:pl-0 lg:mb-0">
              <%= link_to "View", time_sheet_path(user.user_id, start_date: params[:start_date], end_date: params[:end_date]), class: "rounded-md block w-16 h-8 flex justify-center items-center text-center text-gray-500 border-2 p-2 border-gray-200 hover:bg-primary-600 hover:border-primary-600 hover:shadow-md hover:text-gray-50 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"%>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="rounded dark:bg-gray-900">
      <% @users_with_no_time_log_totals.each do |user| %>
        <div class="bg-white dark:bg-gray-800 border-gray-300 dark:border-gray-500 rounded my-3">
          <div class="grid lg:grid-cols-7 grid-cols-2 rounded lg:min-h-20 p-2 ml-10 md:ml-0">
            <div class="col-span-1 flex items-center md:pl-24 lg:justify-start lg:pl-4 lg:my-0 my-1">
              <h3 class="pl-2 font-semibold"><%= user.name %></h3>
            </div>
            <div class="flex lg:hidden mt-3 pl-12 md:pl-40 lg:ml-0 mb-3 border-bottom-1 pt-2">
            </div>
            <div class="col-span-1 flex lg:items-center md:pl-24 lg:justify-start lg:pl-10 lg:my-0 my-1">
              <p class="pl-2 lg:pl-0">Regular: 0 </p>
            </div>
            <div class="col-span-1 flex lg:items-center pl-10 md:pl-24 lg:justify-start lg:pl-10 lg:my-0 my-1">
              <p class="pl-2 lg:pl-0">Overtime: 0</p>
            </div>
            <div class="col-span-1 flex lg:items-center md:pl-24 lg:justify-start lg:pl-10 lg:my-0 my-1">
              <p class="pl-2 lg:pl-0">Double: 0</p>
            </div>
            <div class="col-span-1 flex lg:items-center pl-10 md:pl-24 lg:justify-start lg:pl-10 lg:my-0 my-1">
              <p class="pl-2 lg:pl-0">Mileage: 0</p>
            </div>
            <div class="col-span-1 flex lg:items-center md:pl-24 lg:justify-start lg:pl-10 lg:my-0 my-1">
              <p class="pl-2 lg:pl-0">Total hours: 0</p>
            </div>
            <div class="lg:flex hidden lg:visible lg:items-center lg:justify-center lg:mt-0 lg:pl-0 lg:mb-0">
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </section>
</div>
