<div class="bg-primary-600 dark:bg-primary-800 p-2 sm:p-3 shadow-md flex flex-row flex-wrap items-center gap-2">

  <div class="flex flex-row">
    <%= link_to "<", service_jobs_path, class: "mr-2 text-lg sm:text-xl font-medium text-white" %>
    <h1 class="text-lg sm:text-xl font-medium text-white">Editing <%= @service_job.job_number %></h1>
  </div>

  <div class="flex flex-row gap-2 ml-auto">
    <%= button_to "Delete Job", service_job_path(@service_job), method: :delete, class: "w-36 text-center text-gray-50 border-2 p-2 hover:bg-white hover:text-primary-600 border-white rounded-md text-sm font-medium hover:font-strong hover:shadow-md"%>
  </div>

</div>
<%= render(AlertComponent::Errors.new(@service_job))%>
<%= render partial: 'form' %>

<%= render partial: "delete_modal" %>
