<div class="bg-primary-600 dark:bg-primary-800 p-2 sm:p-3 shadow-md flex flex-row items-center">
  <h1 class="text-lg sm:text-xl font-medium text-white">Service Jobs</h1>
  <%= link_to "New Job", new_service_job_path, class: "w-36 text-center ml-auto text-gray-50 border-2 p-2 hover:bg-white hover:text-primary-600 dark:hover:text-gray-800 border-white rounded-md text-sm font-medium hover:font-strong hover:shadow-md", data: { turbo: false } %>
</div>
<form class="flex flex-wrap items-center m-2 sm:m-4 border max-w-3/4" method="GET" action="<%= service_jobs_path %>">
  <label for="simple" class="sr-only">Search</label>
  <div class="relative w-full sm:w-auto flex-grow">
    <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
      <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
      </svg>
    </div>
    <input type="text" id="simple-search" name="service_job_search" class="block w-full p-2 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-white focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 placeholder-gray-400 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Search service jobs by job number or customer name" value="<%= params[:service_job_search] unless params[:service_job_search].nil? || params[:service_job_search].empty? %>">
  </div>

    <div>
      <button type="submit" class="btn btn-primary border rounded h-9">Submit</button>
    </div>

<div class="relative w-full mt-4 sm:w-auto sm:ml-2 border rounded overflow-visible h-9 bg-white">
  <div data-controller="dropdown-toggle" class="relative inline-block">
    <button data-action="click->dropdown-toggle#toggle" class="btn btn-secondary dropdown-toggle" type="button">
      Select Status
    </button>
    <div data-dropdown-toggle-target="options" class="hidden absolute bg-white border rounded mt-2">
      <% StatusListHelper.service_job_statuses.each do |status| %>
        <label class="block px-4 py-2 text-xs">
          <input type="checkbox" name="filter_by[]" value="<%= status %>" class="mr-2">
          <%= status %>
        </label>
      <% end %>
    </div>
  </div>
</div>




  <div class="relative w-full mt-4 sm:w-auto sm:ml-2">
    <%= select_tag 'sort_by',
      options_for_select(
        [
          ['- Sort by', 'created_at asc'],
          ['Job number asc', 'job_number asc'],
          ['Job number desc', 'job_number desc'],
          ['Newest', 'created_at asc'],
          ['Oldest', 'created_at desc']
        ],
        selected: params[:sort_by]
      ),
      class: 'hover:cursor-pointer block w-full p-2 pl-2 pr-8 text-sm text-gray-900 border border-gray-300 rounded-lg bg-white focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 placeholder-gray-400 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500'
    %>
  </div>
  <%= hidden_field_tag 'page', @pagy.page %>
</form>
<p style="color: green"><%= notice %></p>
<div id="service_jobs">
  <% @service_jobs.each do |service_job| %>
    <div class="border rounded m-2 sm:mx-4 p-3 text-sm flex flex-row flex-wrap justify-between space-x-3 bg-white dark:bg-gray-800 border-gray-300 dark:border-gray-500">
      <div>
        <p class="w-52 font-semibold">
          <%= link_to service_job.job_number , service_job_path(service_job) %>
        </p>
        <p class="w-52">
          <!-- these are causing N+1 queries on customers and work sites need an includes on customers and work sites -->
          <%= service_job.customer.name %>
        </p>
        <p class="w-52">
          <%= service_job.customer.region&.name %>
        </p>
        <p class="w-52">
          <% if service_job.work_site %>
            <%= service_job.work_site.name %>
          <% else %>
            Worksite n/a
          <% end %>
        </p>
        <p>
          <%= service_job.created_at.strftime("%B %d, %Y") %>
        </p>
        <p>
          Status: <%= service_job.status.gsub("_", " ").capitalize %>
        </p>
      </div>
      <div class="ml-auto">
        <%= link_to "View" , service_job_path(service_job), class: "ml-auto rounded-md block w-16 text-center ml-2 text-gray-500 border-2 p-2 border-gray-200 hover:bg-primary-600 hover:border-primary-600 hover:shadow-md hover:text-gray-50 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700" %>
        <%= link_to "Edit" , edit_service_job_path(service_job), class: "rounded-md block w-16 mt-2 text-center ml-2 text-gray-500 border-2 p-2 border-gray-200 hover:bg-primary-600 hover:border-primary-600 hover:shadow-md hover:text-gray-50 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700" %>
      </div>
    </div>
  <% end %>
</div>
<div class="text-center">
  <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
</div>
