<%= render AlertComponent::Errors.new(@service_job_image) %>
<div data-controller="modal">
  <div class="bg-primary-600 dark:bg-primary-800 p-2 sm:p-3 shadow-md flex flex-row flex-wrap items-center gap-2">
    <div class="flex flex-row">
      <%= link_to "<", service_jobs_path, class: "mr-2 text-lg sm:text-xl font-medium text-white" %>
      <h1 class="text-lg sm:text-xl font-medium text-white"><%= @service_job.job_number %></h1>
    </div>
    <div class="flex flex-row flex-wrap gap-2 ml-auto">
      <%= link_to "Job Details", service_job_path(@service_job), class: "w-36 text-center text-gray-50 border-2 p-2 hover:bg-white hover:text-primary-600 border-white rounded-md text-sm font-medium hover:font-strong hover:shadow-md" %>
      <%= link_to "Purchase orders", service_job_purchase_orders_path(@service_job), class: "w-36 text-center text-gray-50 border-2 p-2 hover:bg-white hover:text-primary-600 border-white rounded-md text-sm font-medium hover:font-strong hover:shadow-md" %>
      <%= link_to "Images", service_job_images_path(@service_job), class: "w-36 text-center text-gray-50 border-2 p-2 bg-white text-primary-600 border-white rounded-md text-sm font-medium hover:font-strong hover:shadow-md over:text-primary-600"  %>
      <%= link_to "Reports", service_job_service_reports_path(service_job_id: @service_job), class: "w-36 text-center text-gray-50 border-2 p-2 hover:bg-white hover:text-primary-600 border-white rounded-md text-sm font-medium hover:font-strong hover:shadow-md" %>
    </div>
  </div>
  <%= button_tag "Upload image", type: "button", data: { action: 'click->modal#toggleModalVisibility'}, class: "m-3 mt-4 w-36 whitespace-nowrap ml-auto rounded-md block text-center text-gray-500 border-2 p-2 px-4 border-gray-200 hover:bg-primary-600 hover:border-primary-600 hover:shadow-md hover:text-gray-50 focus:z-10 focus:ring-0 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700" %>

<div class="grid grid-cols-1 md:grid-cols-3 gap-4">
  <% @service_job_images.each do |image| %>
    <%= link_to service_job_image_path(service_job_id: image.service_job_id, id: image.id) do %>
      <section class="border-2 rounded p-2 h-full w-5/6 mx-auto flex flex-col items-center justify-start md:w-full">
        <div class="border-4 h-3/4 w-full flex items-center justify-center">
          <% if image.image_url(:thumbnail) %>
            <%= image_tag image.image_url(:thumbnail), class: "max-w-full max-h-full" %>
          <% end %>
        </div>
        <div class="flex flex-col items-start mt-1 w-full overflow-y-scroll">
          <p>Uploaded by: <%= image.user.name %></p>
          <p class="pt-1 pb-3">Date upoaded: <%= image.created_at.strftime("%B %d, %Y") %></p>
          <p class="pb-.5">Description: <%= image.description %></p>
        </div>
      </section>
    <% end %>
  <% end %>
</div>


  <div data-modal-target="modalContainer" class="hidden">
    <%= render partial: 'new_service_job_image_upload' %>
  </div>
</div>
