<div class="bg-primary-600 dark:bg-primary-800 p-2 sm:p-3 shadow-md flex flex-row items-center h-16">
  <%= link_to "<", :back, class: 'mr-2 font-semibold text-xl text-white' %>
  <h1 class="text-lg sm:text-xl font-medium text-white">Image view </h1>
</div>
<div class=" bg-white dark:bg-gray-800 grid grid-cols-4 p-4 m-4">
  <div class="col-span-1">
    <p>Uploaded by: </p>
    <p><%= @service_job_image.user.name %></p>
  </div>
  <div class=" col-span-1">
    <p>Date Uploaded: </p>
    <p> <%= @service_job_image.created_at.strftime("%B %d, %Y") %></p>
  </div>
  <div class=" col-span-2">
    <p class="">Description: </p>
    <p><%= @service_job_image.description %></p>
  </div>
</div>
<div class=" mt-4">
  <section class="p-4">
    <div class="flex items-center justify-center">
      <% if @service_job_image.image_url %>
        <%= image_tag @service_job_image.image_url, class: "" %>
      <% end %>
    </div>
  </section>
</div>
