<!DOCTYPE html>
<html>
  <head>
    <title>MechCool</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body>
    <header class="border-2 border-black h-20">
    <p>Application layout Header</p>

    </header>
    <main>
    <% flash.each do |type, msg|%>
      <%= render AlertComponent.new(type, msg)%>
    <% end %>
    <%= yield %>
    </main>
  </body>
</html>
