<!DOCTYPE html>
<html class="light">
  <head>
    <title>MechCool</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="https://kit.fontawesome.com/a05781cea0.js" crossorigin="anonymous"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body>
    <main>
      <% flash.each do |type, msg|%>
        <%= render AlertComponent.new(type, msg)%>
      <% end %>

<section class="bg-secondary-50 dark:bg-secondary-800 h-screen">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
    <a href="#" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
      
      <%= render 'shared/logo_lg_svg' %>

    </a>
    <div class="bg-gray-50 w-full rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
      
      <%= yield %>

    </div>
  </div>
</section>

    </main>
  </body>
</html>
